/* Pearl Jones Personal Website Style file */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(121, 121, 171);
  color: #fff;
}

header h1{
  display:inline-block;
  font-size:30px;
}

/* 
The nav bar - the 4 selections inline
*/

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

header nav a {
  display: flex;
  color: white;
  text-align: justify;
  text-decoration:underline;
}

p {
  text-align: right;
  font-size: 20px;
}

/* the Main starts here */
/* 
What is the flex-wrap property? 
Everything in main just wraps around
*/
main {
 /* display: flex; */
  flex-wrap: wrap;
}

.photoofme img {
  float: center;
  max-height: 100px;
  margin-top: 10px;
  margin-left: 50px;
 /* padding-bottom: 0px; */
}

.meparagraph h2, #work h2 {
padding: 50px;
background-color:rgb(147, 147, 177);

}


#work {
  margin-top: 0px;
  flex: 2; 
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#me, #contactinfo {
  margin-top: 0px;
  flex: 2;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

/* 
Flex default is 0,0, at 400 pixes
flex: flexgrow, flex shrink, flex basis
does not grow, not shrink, and sets to 400
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card img {
  width: 100%;
  height: 50%;
}

a {
  list-style-type: none;
  display: inline-block;
  margin-left: 50px; 
  display: flex;
  text-align: justify;
  text-decoration:underline;
  color: blueviolet;

}

footer {
  padding: 5px;
  text-align: center;
  background: rgb(121, 121, 171);
  color: #fff;
}

/* 
What does the flex-direction property define?
What is it doing here? 
it stacks as a column 
direction of the main axis, sets the direction to column
top to bottom when the screen is smaller than 768px
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
