/* Pearl Jones Personal Website Style file */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 /* text-align: left; */
  background: rgb(121, 121, 171);
  color: #fff;
}

header h1{
  display:inline-block;
  font-size:30px;
}

/* 
The nav bar - the 4 selections inline
*/

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
header nav ul {
  list-style-type:none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header nav a {
  display: flex;
 /* background-color: #d8a47f; */
  color: white;
  text-align: justify;
  text-decoration:underline;
}

p {
  text-align: right;
}

/* 
What is the flex-wrap property? 
TODO: Write your answer here 
Everything in main just wraps around
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 0;
  background-color: rgb(147, 147, 177);
  padding: 50px;
  text-align: right;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutme .worksample .contactme {
  margin-left: 0px;
  float: left;
  width: 30%;
  height: 100%;
}

.aboutme img {
  float: center;
  max-height: 150px;
  margin-top: 0px;
  padding-bottom: 5px;
}
/*
.float-center {
  float: center;
  margin-right: 25px;
}
*/

.aboutme h2 {
  text-align: right;
  margin-bottom: 10px;
}

.worksample h2 {
  margin-bottom: 10px;
}

.contactme h2 {
  margin-bottom: 0px;
}
/* 
What does the justify-content property do? 
The products are in the center, on the main axis
*/
.products {
  flex: 2;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
Flex default is 0,0, at 400 pixes
flex: flexgrow, flex shrink, flex basis
does not grow, not shrink, and sets to 400
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}
/*
.card p {
  text-align: center;
}
*/
.card img {
  width: 100%;
  height: 50%;
}

footer {
  padding: 5px;
  text-align: center;
  background: rgb(121, 121, 171);
  color: #fff;
}

/* 
What does the flex-direction property define?
What is it doing here? 
it stacks as a column 
direction of the main axis, sets the direction to column
top to bottom when the screen is smaller than 768px
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
